.root {
    -fx-background-color: #FEFFEA;
    -fx-font-size: 13px;
    -fx-focus-color: transparent;
}

.button {
    -fx-background-color: #44CCFF;
    -fx-color-label-visible: black;
    -fx-border-radius: 5px;
}

.alert {
    -fx-background-color: black;
}

#sidebar {
    -fx-background-color: #ADE9FF;
    -fx-padding: 20;
}

#viewTitle {
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-pref-height: 27.0;
    -fx-pref-width: 1000.0;
}